AZURE_SERVICE_BUS_CONNECTION_STRING=REPLACE_WITH_YOUR_CONNECTION_STRING
AZURE_SERVICE_BUS_LISTENER_CONNECTION_STRING=REPLACE_WITH_LISTENER_CONNECTION_STRING
POSTGRES_USER=dental
POSTGRES_PASSWORD=dental
POSTGRES_DB=dental_read
CONNECTION_STRINGS__READ_DATABASE=Host=localhost;Database=dental_read;Username=dental;Password=dental